* {
    margin: 0;
    padding: 0;
    zoom: 1;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

.animate {
    position: relative;
}

        /* ETO PONG TEXT ANIMATION CHINECK KO SA YOUTUBE PANO MAGLAGAY NG KEY FRAMES, tas diko na alam pinag gagawa ko atleast gumana sya HAHAHAH XD*/

.animate::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: #ffffff;
    animation: blinkCusor 0.1s steps(1) infinite;
}

@keyframes animate {

    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}

.animate h2 {
    position: relative;
    float: left;
    bottom: -5px;
    left: 30px;
    font-size: 50px;
    color: rgb(247, 0, 255);
    text-transform: capitalize;
    animation: typing 3s steps(13) infinite;
    overflow: hidden;
}

.animate span {
    color: rgb(0, 255, 157);
}

@keyframes typing {

    0%,
    100% {
        width: 0;
    }
    30%,
    60% {
        width: 401.88px;
    }
}

        /* MMMMMMMAAAAAAAAAAAAAAIIIIIIIIIIIIIIIINNNNNNN */

.main {
    background-color: rgb(38, 38, 38);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 300px;
}

.top{
    position: relative;
    width: 100%;
    height: 100vh;
    background: transparent;
    background-size: cover;
}

#navbar {
    position: fixed;
    top: 0x;
    left: -10px;
    width: 100%;
    display: block;
    transition: top .5s;
    background-color: transparent;
}

#navbar a{
    float: right;
    display: block;
    color: #00bd29;
    text-align: center;
    text-decoration: line-through;
    font-size: 30px;
    padding: 20px;
}

#navbar a:hover{
    background-color: #000000;
    color: #ffffff;
}


.first {
    width: 1800px;
    height: auto;
    margin: auto;
    color: rgb(118, 255, 253);
    position: relative;
}

.yes {
    position: relative;
    left: 65px;
    bottom: -360px;
    font-family: 'Times New Roman';
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 25px;
    font-weight: bolder;
}

.first h1 {
    font-family: 'Times New Roman';
    font-size: 30px;
    padding-left: 80px;
    margin-top: 9%;
    letter-spacing: 2px;
    color: rgb(38, 255, 0);
}

h1:hover {
    color: rgb(255, 0, 0);
    transition: 0.2s;
}

.first span {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-style: italic;

}

.yes:hover{
    color: rgb(112, 255, 110);
    transition: 0.2s;
}

span:hover {
    color: rgb(0, 98, 255);
    transition: 0.2s;
}

.first img {
    float: left;
    position: relative;
    border-width: 5px;
    border-radius: 50%;
    border-style: groove;
    border-width: 1px;
    border-color: aqua;
    height: auto;
    width: 300px;
    left: 150px;
}

.icons a {
    text-decoration: none;
    color: rgb(21, 255, 0);
}

.icons ion-icon {
    position: relative;
    float: left;
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding-left: 30px;
    left: -80px;
    bottom: -380px;
    transition: 0.3s;
}

.icons ion-icon:hover {
    color: rgb(255, 0, 0);
}

/*----------------------*/

.pic{
    position: static;
    background-color:rgb(38, 38, 38);
    background-size: cover;
    height: 200vh;
    width: 100%;
}
.pic .how{
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
    font-weight: bolder;
    color:rgb(0, 213, 255);
    font-style: italic;
}

.pic .art{
    float: none;
    padding: 100px;
    padding-left: 200px;
    margin: 30px;
    float: left;
    width: 800px;
    height: 800px;
}

.pic .art:hover{
    border: 3px solid rgb(49, 85, 63);
}

.pic .art img{
    width: 100%;
    height: auto;
}

.pic .ti{
    padding: 15px;
    text-align: center;
    background-color: aqua;
}

  /*-------------------mainnnnnnnnnnn 3..................*/

  .main3 {
    background: url(paint.jpg);
    width: 100%;
    padding: 100px 0px;
    height: 780px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1200px;
    margin: 30px auto;
    text-align: center;
}

.title h2:hover{
    color: rgb(0, 255, 162);
    transition: .2s;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #223136;
    border-radius: 5px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-style: groove;
    border-color: black;
    border-width: 3px;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f90000;

}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
h5:hover{
    color: rgb(0, 255, 225);
}

.link p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    position: relative;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    top: 60px;
    border-radius: 50px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

        /*FOOOOOOOOOOOOOOTTTTTTTTTTTTTTEEEEEEEEEEEEEEEEEEEEEER*/

footer{
	position: relative;
	width: 100%;
	height: 300px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
footer p:nth-child(1){
	font-size: 30px;
    top: 10px;
	color: rgb(64, 255, 0);
	margin-bottom: 20px;
	font-weight: bold;

}
footer p:nth-child(2){
	color: rgb(0, 255, 183);
	font-size: 25px;
	width: 500px;
	text-align: center;
	line-height: 30px;
}

footer p:nth-child(3){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 25px;
}
